<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 8.7em;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <a href="/simposio/2023/inscricoes">
                        <img src="/img/simposio/2023/carrossel/png/1.png" class="d-block w-100"
                            alt="Logo do EduComp: Tema - O legado do ensino remoto na Educação em Computação">
                    </a>
                </div>
            </div>
        </div>

        <div class="carousel-item active">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <a href="/simposio/2023/inscricoes">
                        <img src="/img/simposio/2023/carrossel/png/1.png" class="d-block w-100"
                            alt="Logo do EduComp: Tema - O legado do ensino remoto na Educação em Computação">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" data-target="#carouselExampleIndicators" data-slide="prev" style="
      font-size: 5em; 
      background-color: rgba(255,0,0,0.0);
      margin-left: 0em;
    ">
        <i class="fa fa-angle-left" alt="Anterior"></i>
    </a>
    <a class="carousel-control-next" data-target="#carouselExampleIndicators" data-slide="next" style="
      font-size: 5em; 
      background-color: rgba(255,0,0,0.0);
      margin-right: 0em;
    ">
        <i class="fa fa-angle-right" alt="Próximo"></i>
    </a>
</div>

<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">A
                ERCEMAPI 2023, será realizada entre os dias 23 e 25 de novembro em Aracati - CE, e acontecerá em formato
                híbrido. A XI Escola Regional de Computação Ceará, Maranhão, Piauí tem como objetivo disseminar o
                conhecimento técnico e científico sobre temas e assuntos de vanguarda na área de Computação.</p>
            <p class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">
                A escola busca incentivar a produção, publicação e disseminação de material técnico, didático e
                científico de alta qualidade. É um fórum de integração entre coordenadores de curso, pesquisadores,
                alunos de graduação e pós-graduação, e representantes dos setores governamental, industrial e de
                serviços. As Escolas Regionais são eventos promovidos pela Sociedade Brasileira de Computação (SBC). A
                ERCEMAPI visa se consolidar como um evento de referência nos estados do Ceará, Maranhão e Piauí e
                região. Além disso, o evento colabora e contribui com a consolidação dos Programas de Pós-Graduação da
                região.
            </p>
            <!--
          <p class="lead" style="text-align: justify; font-size: 14pt">
            Confira <a href="https://www.youtube.com/watch?v=Oot0nMGikNE">o vídeo de apresentação</a> do evento realizado no GIEC Live pelo Prof. Roberto Bittencourt.
          </p>
          -->
        </div>
    </div>
</div>