<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 8.7em;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <a href="/sobre">
                        <img src="/img/simposio/2023/carrossel/png/1.png" class="d-block w-100"
                            alt="Cartaz do evento">
                    </a>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <a href="/sobre">
                        <img src="/img/simposio/2023/carrossel/png/2.png" class="d-block w-100"
                            alt="Nos siga nas redes">
                    </a>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <a href="/sobre">
                        <img src="/img/simposio/2023/carrossel/png/3.png" class="d-block w-100"
                            alt="Chamada para submissão">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" data-target="#carouselExampleIndicators" data-slide="prev" style="
      font-size: 5em; 
      background-color: rgba(255,0,0,0.0);
      margin-left: 0em;
    ">
        <i class="fa fa-angle-left" alt="Anterior"></i>
    </a>
    <a class="carousel-control-next" data-target="#carouselExampleIndicators" data-slide="next" style="
      font-size: 5em; 
      background-color: rgba(255,0,0,0.0);
      margin-right: 0em;
    ">
        <i class="fa fa-angle-right" alt="Próximo"></i>
    </a>
</div>

<div class="container mt-5 mb-3">
    <div class="row">
        {{!-- <div class="col-lg-8 mx-auto">
            <p class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">
                A ERCEMAPI 2023, será realizada entre os dias 23 e 25 de novembro em Aracati - CE, e acontecerá em formato
                híbrido. A XI Escola Regional de Computação Ceará, Maranhão, Piauí tem como objetivo disseminar o
                conhecimento técnico e científico sobre temas e assuntos de vanguarda na área de Computação.
            </p>
            <p class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">
                A escola busca incentivar a produção, publicação e disseminação de material técnico, didático e
                científico de alta qualidade. É um fórum de integração entre coordenadores de curso, pesquisadores,
                alunos de graduação e pós-graduação, e representantes dos setores governamental, industrial e de
                serviços. As Escolas Regionais são eventos promovidos pela Sociedade Brasileira de Computação (SBC). A
                ERCEMAPI visa se consolidar como um evento de referência nos estados do Ceará, Maranhão e Piauí e
                região. Além disso, o evento colabora e contribui com a consolidação dos Programas de Pós-Graduação da
                região.
            </p>          
        </div> --}}

        <div class="col-lg-8 mx-auto">
            <h1> Best Papers </h1>
            <br>

            <p style="font-size: 16pt;"><strong> 1º Lugar (Best Paper) </strong></p>
            <p style="font-size: 14pt; text-align: justify"><strong>Uso da Ferramenta OR-Tools na Geração de Rotas Otimizadas em Agência dos Correios Utilizando Algoritmos para o Problema do Caixeiro Viajante</strong></p>
            <p style="text-align: justify">
                Eolo Charles da Silva, Diego Rocha Lima, Luan Cosme dos Santos, Fred Daniel Varelo da Silva
            </p>
            <br>
            <hr/>

            <p style="font-size: 16pt;"><strong> 2º Lugar </strong></p>
            <p style="font-size: 14pt; text-align: justify"><strong>QGISSPARQL - Integrando Dados Conectados e Sistemas de Informação Geográfica</strong></p>
            <p style="text-align: justify">
                Nerval de J. S. Junior, Sérgio Souza Costa, Carlos Daniel dos S. Silva
            </p>
            <br>
            <hr/>

            <p style="font-size: 16pt;"><strong> 3º Lugar </strong></p>
            <p style="font-size: 14pt; text-align: justify"><strong>Uma proposta de um vocabulário para os dados abertos e conectados das instituições acadêmicas brasileiras</strong></p>
            <p style="text-align: justify">
                André Moura Lima, Joel da Silva Pereira Filho, Breno Baptista Nahuz, Sérgio Souza Costa
            </p>
            <br>
            <hr/>        
        </div>
    </div>
</div>