{{> simposio/2023/pt-BR/inside-header}}

<section style="background-color:white;">
    <div class="container" style="margin-top: -9em;">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <p class="lead" style="font-size: 14pt; font-family: 'Inter var', sans-serif;">O evento possui tópicos
                    de interesse geral, abrangendo as principais áreas da Computação e Informática, relevantes no
                    contexto dos Estados do Ceará, Maranhão e Piauí. Os seguintes os temas são considerados:</p>
                <br>
                <input id="search" name="search" placeholder="Filtrar lista" type="text" data-list=".list"
                    class="form-control" style=" font-family: 'Inter var', sans-serif;" />
                <br>
                <ul style="font-size: 14pt; font-family: 'Inter var', sans-serif;" class="list" id="topicos">
                    <li class="lead li_28_37">Análise de Aprendizagem</li>
                    <li class="lead li_28_37">Avaliação de Desempenho</li>
                    <li class="lead li_28_37">Arquitetura de Computadores</li>
                    <li class="lead li_28_37">Banco de Dados</li>
                    <li class="lead li_28_37">Ciência de Dados</li>
                    <li class="lead li_28_37">Computação em Nuvem</li>
                    <li class="lead li_28_37">Computação Gráfica</li>
                    <li class="lead li_28_37">Educação em Informática
                    <li class="lead li_28_37">Empreendedorismo e Inovação</li>
                    <li class="lead li_28_37">Engenharia de Software</li>                    
                    <li class="lead li_28_37">Gestão de Tecnologia da Informação</li>
                    <li class="lead li_28_37">Inclusão Digital</li>
                    <li class="lead li_28_37">Informática na Educação</li>
                    <li class="lead li_28_37">Informática Pública</li>
                    <li class="lead li_28_37">Informática Industrial</li>
                    <li class="lead li_28_37">Inteligência Artificial</li>
                    <li class="lead li_28_37">Interação Humano-Computador</li>
                    <li class="lead li_28_37">Internet das Coisas (IoT)</li>
                    <li class="lead li_28_37">Jogos e Gamificação</li>
                    <li class="lead li_28_37">Mineração de Dados</li>
                    <li class="lead li_28_37">Otimização</li>
                    <li class="lead li_28_37">Processamento de Imagens</li>
                    <li class="lead li_28_37">Qualidade de Software</li>
                    <li class="lead li_28_37">Reconhecimento de Padrões</li>
                    <li class="lead li_28_37">Redes de Computadores</li>
                    <li class="lead li_28_37">Robótica</li>
                    <li class="lead li_28_37">Segurança da Informação</li>
                    <li class="lead li_28_37">Sistemas de Informação</li>
                    <li class="lead li_28_37">Sistemas Distribuídos e Computação Móvel</li>
                    <li class="lead li_28_37">Sistemas Hipermídia, Multimídia e Web</li>
                    <li class="lead li_28_37">Sistemas Operacionais</li>
                    <li class="lead li_28_37">Software Livre</li>
                    <li class="lead li_28_37">Bioinformática</li>
                </ul>
            </div>
        </div>
    </div>
</section>