<style>
    td {
        width: 50%;
    }

    h4 {
        font-size: 14pt;
    }
</style>

{{> simposio/2023/pt-BR/inside-header}}

<section id="datas" style="background-color:white;">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h3>Comitê Científico</h3>
                <br>

                <hr>
                <table class="table table-striped">
                    <tr>
                        <td>
                            <h4>Artigos</h4>
                        </td>
                        <td>
                            <ul>
                                <li>Anderson Passos de Aragão (IFCE)</li>
                                <li>Anderson Uchôa (UFC)</li>
                                <li>Antonio Fernando Lavareda Jacob Junior (UEMA)</li>
                                <li>Aristófanes Corrêa Silva (UFMA)</li>
                                <li>Atslands Rocha (UFC)</li>
                                <li>Celia Leiko Ogawa Kawabata (IFSP)</li>
                                <li>Daniel Lima Gomes Jr. (IFMA)</li>
                                <li>Darlan B. P. Quintanilha (UFMA)</li>
                                <li>Davi Viana (UFMA)</li>
                                <li>Dorgival Netto (UFCA)</li>
                                <li>Emanuel Ferreira Coutinho (UFC)</li>
                                <li>Ewaldo Eder Carvalho Santana (UEMA)</li>
                                <li>Fabio M. F. Lobato (UFOPA)</li>
                                <li>Francisco Marcelino Almeida de Araujo (IFPI)</li>
                                <li>Geraldo Braz Junior (UFMA)</li>
                                <li>Helder Pereira Borges (IFMA)</li>
                                <li>João Dallyson Sousa de Almeida (UFMA)</li>
                                <li>José Nazareno Alves Rodrigues (IFPI)</li>
                                <li>Josenildo da Silva (IFMA)</li>
                                <li>Lívia Almada Cruz (UFC)</li>
                                <li>Luciano J. Senger (UEPG)</li>
                                <li>Luciano R. Coutinho (UFMA)</li>
                                <li>Mario Meireles Teixeira (UFMA)</li>
                                <li>Michel Sales (UFC)</li>
                                <li>Mike Christian Sousa Araujo (IFPI)</li>
                                <li>Omar Andres Carmona Cortes (IFMA)</li>
                                <li>Paulo Rogério de Almeida Ribeiro (UFMA)</li>
                                <li>Paulyne M. Jucá (UFC)</li>
                                <li>Ramon Nepomuceno (UFPI)</li>
                                <li>Ricardo Vilela (UFCA)</li>
                                <li>Robson G. F. Feitosa (IFCE)</li>
                                <li>Rodrigo de Melo Souza Veras (UFPI)</li>
                                <li>Tatiane Figueiredo (UFC)</li>
                                <li>Wener Sampaio (UFPI)</li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h4>Minicursos</h4>
                        </td>
                        <td>
                            <ul>
                                <li>Atslands Rocha (UFC)</li>
                                <li>Camila H. S. Oliveirav (UFCA)</li>
                                <li>Francisco Jose Silva (UFMA)</li>
                                <li>Omar Andres Carmona Cortes (IFMA)</li>
                                <li>Saulo Oliveira (IFCE)</li>
                                <li>Thiago Alves Rocha (IFCE)</li>
                            </ul>
                        </td>                        
                    </tr>

                </table>

            </div>
        </div>
    </div>
</section>