{{> simposio/2023/pt-BR/inside-header}}

<section id="datas" style="background-color:white;">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h1> Sessões Técnicas </h1>

                <br>
                <p style="font-size: 16pt;"><strong> Sessão A - 24/11 (08:30) </strong></p>
                <p style="font-size: 12pt; text-align: justify"><strong>236248 QGISSPARQL - Integrando Dados Conectados e Sistemas de Informação Geográfica.</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong> Nerval de J. S. Junior, Sérgio Souza Costa, Carlos Daniel dos S. Silva
                </p>
                <br>
                <p style="font-size: 12pt; text-align: justify"><strong>236238 Um Mapeamento Sistemático sobre Detecção de Ataques em Redes de Computadores</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong> Gabrielly da Silva, Carina Oliveira, Reinaldo Braga
                </p>
                <br>
                <p style="font-size: 12pt; text-align: justify"><strong>236261 Um Sistema de Validação de Imagens de Documentos Pessoais Utilizando Detecção de Objetos</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong>  Lucas S. Fernandes, Francisco Igor da Silva Lima, Tacio Soares Aguiar, Rodrigo da Silva Freitas, Gabriel Campos de Oliveira, Jose Gilvan Rodrigues Maia, Paulo Antonio Leal Rego
                </p>
                <br>
                <p style="font-size: 12pt; text-align: justify"><strong>236384 Uso da Ferramenta OR-Tools na Geração de Rotas Otimizadas em Agência dos Correios Utilizando Algoritmos para o Problema do Caixeiro Viajante </strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong>  Eolo Charles da Silva, Diego Rocha Lima, Luan Cosme dos Santos, Fred Daniel Varelo da Silva
                </p>
                <br>
                <hr/>

                <br>
                <p style="font-size: 16pt;"><strong> Sessão B - 24/11 (13:30) </strong></p>
                <p style="font-size: 12pt; text-align: justify"><strong>236262 Detecção Automática de Fake News: Revisão Sistemática</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong>  Alice Barbosa, Felipe Sousa, Reinaldo Braga
                </p>
                <br>
                <p style="font-size: 12pt; text-align: justify"><strong>236425 Um Panorama Comparativo por Gênero em um Curso de Bacharelado em Ciência da Computação</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong> Lara Gomes, Daniel Saraiva, Raquel Silveira, Carina Oliveira
                </p>
                <br>
                <p style="font-size: 12pt; text-align: justify"><strong>236434 Uma análise comparativa de técnicas de detecção de pontos de parada em ambientes urbanos</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong>  Edgar Oliveira, Clayson Celes, Carina Oliveira, Reinaldo Braga
                </p>
                <br>
                <hr/>   

                <br>
                <p style="font-size: 16pt;"><strong> Sessão C - 25/11 - (08:00) </strong></p>
                <p style="font-size: 12pt; text-align: justify"><strong>236326 Linsin App: Promovendo a Acessibilidade por Meio de Jogos Interativos na Educação</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong>   Leonardo da Conceição Estevam, Pedro Dimas da Cunha Lima, Paulo André Ignacio Pontes, Marcos César da Rocha Seruffo
                </p>
                <br>
                <p style="font-size: 12pt; text-align: justify"><strong>236245 O efeito do Artigo de Jeannette Wing nas publicações da Revista Brasileira de Informática na Educação (RBIE).</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong> Guilherme Emanoel Barros, Aian Arnaud Vidinho Santos, Sérgio Souza Costa
                </p>
                <br>
                <p style="font-size: 12pt; text-align: justify"><strong>236410 SAEN: Um sistema de análise de dados baseado em resultados do ENADE</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong>  Breno Brito Cruz, Kilbert Amorim Maciel
                </p>
                <br>
                <p style="font-size: 12pt; text-align: justify"><strong>236256 Uma proposta de um vocabulário para os dados abertos e conectados das instituições acadêmicas brasileiras</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong>  André Moura Lima, Joel da Silva Pereira Filho, Breno Baptista Nahuz, Sérgio Souza Costa
                </p>
                <br>
                <hr/>  
  

            </div>
        </div>
    </div>
</section>