{{> simposio/2023/pt-BR/inside-header}}

<section id="datas" style="background-color:white;">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h1> Minicursos </h1>

                <br>
                <p style="font-size: 16pt;"><strong> Minicurso 1 - 23/11 (15:20 - 16:50) e 24/11 (15:20 - 16:50) </strong></p>
                <p style="font-size: 14pt; text-align: justify"><strong>Google Earth Engine no Ensino de introdução ao sensoriamento remoto e geoprocessamento</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong> Sérgio Souza Costa, Eduilson Lívio Neves da Costa Carneiro, Denilson da Silva Bezerra, Thomas Victor de Sousa Malheiros Rocha, Luis Fernando Cirqueira da Silva Correia
                </p>
                <p style="text-align: justify">
                    <strong>Resumo:</strong> Este texto aborda conceitos introdutórios sobre geoprocessamento e sensoriamento remoto integrado com práticas usando a plataforma em nuvem que disponibiliza armazenamento de dados e processamento computacional. Evitando assim a necessidade de laboratórios de informática não especializados. Para isso, inicialmente é apresenta a plataforma Google Earth Engine e seus principais componentes. Depois, os tipos de dados geográficos são apresentadas dentro do contexto da plataforma para que em seguida possa se apresentada a seleção e alguns exemplos de processamento.
                </p>
                <br>
                <hr/>

                <br>
                <p style="font-size: 16pt;"><strong> Minicurso 2 - 23/11 (15:20 - 16:50) e 24/11 (15:20 - 16:50)</strong></p>
                <p style="font-size: 14pt; text-align: justify"><strong>Uma Visão sobre Sistemas de Detecção de Intrusão Baseados em Anomalias</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong> Kelson Carvalho Santos, Rodrigo Sanches Miani, Flávio de Oliveira Silva
                </p>
                <p style="text-align: justify">
                    <strong>Resumo:</strong> Este minicurso aborda os Sistemas de Detecção de Intrusão (Intrusion Detection Systems - IDS) na segurança da informação, sobretudo os IDS baseados em Anomalias e o seu impulsionamento com o Aprendizado de Máquina. Além disso, são destacados os tipos de sistemas e a aplicação do Aprendizado de Máquina na criação de IDS mais avançados. Da mesma forma, é discutido a relevância dos conjuntos de dados para aprimorar a capacidade de adaptação dos modelos de IDS para detecção de ataques desconhecidos. Assim, ao elucidar estratégias de detecção de intrusão baseados em anomalias, o minicurso auxilia na compreensão desses conceitos, enquanto revela os desafios enfrentados na aplicação prática dos IDS em um ambiente de constante evolução de ameaças cibernéticas.
                </p>
                <br>
                <hr/> 

                <br>
                <p style="font-size: 16pt;"><strong> Minicurso 3 - 24/11 (10:30 - 12:00) e 25/11 (08:00 - 09:30) </strong></p>
                <p style="font-size: 14pt; text-align: justify"><strong>Tratamento e Análise de Dados de Mobilidade Urbana: Uma metodologia teórica e prática</strong></p>
                <p style="text-align: justify">
                    <strong>Autores:</strong> Edgar Oliveira, Clayson Celes,  Carina Oliveira, Reinaldo Braga
                </p>
                <p style="text-align: justify">
                    <strong>Resumo:</strong> A crescente disponibilidade de dados de mobilidade no domínio urbano traz oportunidades sem precedentes para a extração de conhecimento e a tomada de decisão em diversas áreas. No entanto, obter informações valiosas a partir de um grande volume de dados brutos não é uma tarefa simples e exige um processo detalhado com técnicas, ferramentas e insights. O objetivo deste capítulo é apresentar os fundamentos para o tratamento e a análise de dados de mobilidade por meio de uma metodologia proposta que engloba tal processo. Também é realizada uma comparação entre bibliotecas Python disponíveis na literatura que oferecem recursos para a análise de mobilidade. As bibliotecas são classificadas e associadas a fases específicas da metodologia. As limitações das bibliotecas são identificadas, incluindo a falta de suporte para tarefas básicas de tratamento de dados, bem como ausências de soluções para a classificação de trajetórias, detecção de eventos atípicos e detecção de trajetórias anômalas. Essas limitações são oportunidades para pesquisas futuras e o desenvolvimento de métodos mais abrangentes e aprimorados para a análise de mobilidade. Por fim, um caso de uso com dados reais é empregado para exemplificar a abordagem prática, fornecendo resultados e o código-fonte correspondente.
                </p>
                <br>
                <hr/>   

            </div>
        </div>
    </div>
</section>