<nav class="navbar navbar-expand-lg bg-white fixed-top p-0" 
style="box-shadow: 0.25em 0.25em 0.25em 0.25em rgb(202, 202, 202); ">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger imagelink" href="/simposio/2023/">
        <img src="/img/simposio/2023/ERCEMAPI_2023_logo.png" style="height: 4rem; margin-left:0em; margin-top: 1em; margin-bottom: 1em;"/>
      </a>
      <a class="imagelink" href="http://www.sbc.org.br" target="_blank">
        <!--<span style="color: white; padding-left: 1.6em;">
          Realização
        </span>-->
        <img src="/img/sbc.png" style="height: 4rem; padding-left: 1em; padding-right: 9em;"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" >
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse m0" id="navbarResponsive">
        <ul class="navbar-nav">

          <!-- Sobre -->
          <li class="nav-item dropdown">
            <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle
                {{~#if sobre}}
                  active
                {{/if}}
            ">Principal</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/simposio/2023/sobre">
                Sobre o evento
              </a>
              <a class="dropdown-item" href="/simposio/2023/sobre-sbc">
                Sobre a SBC
              </a>
            </div>            
          </li>

           <li class="nav-item dropdown">
            <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle
                {{~#if evento}}
                  active
                {{/if}}
            ">Chamada</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/simposio/2023/trabalhos/topicos-de-interesse">
                Tópicos de Interesse
              </a>
              <a class="dropdown-item" href="/simposio/2023/datas">
                Datas Importantes
              </a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" href="/simposio/2023/trabalhos/aceitos">
                Chamada
              </a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle
                {{~#if equipe}}
                  active
                {{/if}}
            ">Equipe</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/simposio/2023/equipe/comissao-organizadora">Comissão Organizadora</a>
              <a class="dropdown-item" href="/simposio/2023/equipe/comite-programa">Comitê de Programa</a>
            </div>
          </li>

          
        </ul>
        <a 
          class="
            btn 
            nav-link text-white 
            js-scroll-trigger p-2 px-4" 
          href="/simposio/2023/inscricoes" 
          style="margin-left: 14px; font-size: 1em; font-weight: normal; font-family: 'Inter', sans-serif; border-radius: 1em; background-color: blue">
          Inscrições
        </a>
      </div>
    </div>
  </nav>
